@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yo</h1>
    <p>Apka webowa na szybko zrobiona, aby tylko zapełnić bazę danych dla finalnej aplikacji na Androida.</p>
</div>
